.nav {
  
    flex-grow: 0.1;
    background-color:rgb(18, 101, 31);
    display: flex;
    justify-content: space-between;

    padding: 1rem; /* You had it as 1px, but typically padding is more than 1px */
    
    position: relative; /* Use 'fixed' if you want the nav to stay at the top when scrolling */
    top: 0px; /* Add 'px' to denote pixels */
    left: 0;
    right: 0;
    height: 30px; /* Set your desired height */
    
    /* Additional styles if needed */
  }
.Title-font
{
    color: var(--nightmode);
    font-size: 2rem;
}
.nav ul
{
    background-color: rgb(180, 205, 227);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    list-style: none;
    align-items: center;
}

.nav li{
    display: inline; 
    padding-right: 10px;
    transition: font-size 0.3s ease;
    
}

.nav li:hover{
    background-color: rgba(var(--nightmode), 0.8);
    font-size: 30px;
}

.nav .userIcon{
    background-color: rgb(62, 67, 72);
   padding: 10px;
    border-radius: 50%;
}