
:root {
  --nightmode: blue;
 
  
}


.StoreSection{
  display: grid; /* This makes .parent-div a grid container */
  grid-template-columns: 2fr 1fr;
}


body{
 
 
  overflow-y: hidden;
  background-color: var(--nightmode); 
  background:linear-gradient( rgba(6, 6, 6, 0.8),rgba(2, 2, 2, 0.8));
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
 align-items: center ;
 margin: 0;
}


h1 {
  font-size: 2.2em;
 
}

.flexbox{
  box-sizing: border-box;
  border: 10px solid black;

  display: flex;
  flex-direction: column;
 
  width: 100vw;
  height: 100vh;


  transition: height 0.3s ease;
}

.flexbox:hover{
  height: 100vh;
}


/* This styles the scrollbar track */
::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #baeb08; /* color of the tracking area */
}

/* This styles the scrollbar thumb (the draggable element) */
::-webkit-scrollbar-thumb {
  background: #da0f78; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
}

/* This styles the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #361bcd; /* color of the scroll thumb when hovered or active */
}



