
:root {
  --nightmode: blue;
 
  margin: 0 ;
  padding: 0;

  display: flex;
  flex-direction: column;
 
}


.StoreSection{
  display: grid; /* This makes .parent-div a grid container */
  grid-template-columns: 2fr 1fr;
}


body { 
  
  place-items: center;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.flexbox{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* This styles the scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
}

/* This styles the scrollbar thumb (the draggable element) */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
}

/* This styles the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb when hovered or active */
}



