#root {
 width:calc(100% - 0px);
  margin: 0 ;
  padding: 0;
  text-align: left;
  align-items: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.bordered-div {
  border: 5px solid rgb(255, 255, 255); /* White border */
  padding: 0px; /* No space between the border and the div's content */
  margin: 0px; /* No space outside the div */
  margin-left: auto; /* Pushes the div to the right */
  width: 100%;
 
}
.parent-div {
  display: grid; /* This makes .parent-div a grid container */
  grid-template-columns: 7fr 3fr;
}