.itemDiv {
    width: 80vw;
    border: 3px solid red;

    display: flex;
    flex-direction: column;

}

.flex
{
 display: flex;
}
.center
{
    align-items: center;
}
.hidden
{
  overflow: hidden;
}


.oneh {
    width: 100%;
}